

.createArticle_block {
    margin: 25px 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.createArticle_block_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.content {
    background-color: #fff;
    border-radius: 10px;
    width: 70%;
}

.content_options {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid var(--color-dark);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content_option {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f3f3f3;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }
}

.content_option:hover {
    transition: .2s;
    background-color: #e2e2e2;
}

.content_content {
    padding: 20px;
}

.create_article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_block {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.input_block > p {
    font-size: 14px;
}

.input {
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--color-blue-light);
}

.textarea {
    max-width: 500px;
    min-width: 100px;
    width: 300px;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--color-blue-light);
}

.button {
    width: 300px;
    background-color: var(--color-blue-light);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    transition: .2s;
    background-color: var(--color-blue-dark);
}

.button_insert {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid var(--color-blue-light);
    outline: none;
    color: var(--color-blue-dark);
    height: 35px;
    cursor: pointer;
}

.button_insert:hover {
    transition: .2s;
    background-color: #f3f3f3;
}

.link {
    text-decoration: underline;
}

.create {
    width: 300px;
    background-color: var(--color-blue-light);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    color: #fff;
    cursor: pointer;

    margin-top: 20px;
    width: 200px;
}

.forgot {
    margin-top: 20px;
}

.to_main {
    text-align: center;
    margin-top: 50px;
}

.error {
    color: var(--color-error);
}

.input_flex {
    display: flex;
}

.input_flexed {
    width: 200px;
    height: 35px;
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: 1px solid var(--color-blue-light);
}

.hashtagAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--color-blue-light);
    background-color: var(--color-blue-light);
    color: #fff;
    cursor: pointer;
}

.hashtagAdd:hover {
    transition: .2s;
    background-color: var(--color-blue-dark);
}

.hashtags {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.hashtag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: var(--color-blue-light);
    border-radius: 5px;
    padding: 2px 5px;
}

.hashtag > p {
    color: #fff;
}

.hashtag > img {
    width: 15px;
    cursor: pointer;
}

.createArticle_noPerm {
    display: flex;
    height: calc(100vh - 385px);

    p {
        font-size: 25px;
    }
}


@media screen and (max-width: 1000px) {
    .preview {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .createArticle_block {
        margin: 25px 0;
        h3 {
            text-align: center;
        }
    }
    .input_block {
        p {
            margin-left: 10px;
        }
        .input, .textarea, .input_flex {
            margin: 0 5px;
            width: calc(100vw - 30px);
        }
        .hashtagAdd {
            font-size: 15px;
        }
    }
    .error, .link {
        margin: 0 5px;
    }
    .hashtags {
        margin: 5px;
    }
    .button {
        margin: 0 5px;
        width: calc(100% - 10px);
    }
}

// TEST

.main_article_content_info {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--color-light);

    h2 {
        font-size: 35px;
        max-width: 600px;
    }
    
    img {
        max-width: 800px;
        border-radius: 10px;
    }
}

.main_article_content_info_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    p {
        color: gray;
    }
}

.article_info_nav {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    min-width: 400px;
}

.article_info_nav_title {
    width: 100%;
    border-bottom: 1px solid var(--color-light);
    padding-bottom: 10px;

    b {
        font-size: 25px;        
    }
}

.article_info_nav_body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;

    a {
        text-decoration: underline;
    }

    a:hover {
        color: var(--color-blue-dark)
    }
}

.title {
    padding: 5px 0;
    
    h2 {
        font-size: 30px;
    }
}

.text {
    padding: 5px 0;

    p {
        width: 100%;
    }
}

.img {
    max-width: 500px;
    padding: 5px 0;

    img {
        max-width: 100%;
    }
}

.indent {
    padding: 10px 0;
}

.ol, .ul {
    padding: 5px 0;
    list-style-position: inside;
}


@media screen and (max-width: 1570px) {
    .main_article {
        flex-wrap: wrap-reverse;
        margin: 50px 2%;
    }
    .article_info_nav {
        min-width: 0;
        width: 100%;
    }
    .comments_block {
        display: none;
    }
    .comments_block_article {
        display: block;
    }
    .main_article_content {
        width: 100%;
    }
}

@media screen and (max-width: 1350px) {
    .article_info_nav_block {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 815px) {
    .article_info_nav_block {
        width: 100%;
    }
}