.title {
    padding: 5px 0;
    
    h2 {
        font-size: 30px;
        width: 100%;
        word-break: break-all;
    }
}

.text {
    padding: 5px 0;

    p {
        width: 100%;
    }
}

.img {
    max-width: 500px;
    padding: 5px 0;

    img {
        max-width: 100%;
    }
}

.margin {
    padding: 10px 0;
}

.ol, .ul {
    padding: 5px 0;
    width: 100%;
    margin-left: 20px;

    li {
        width: 100%;
    }

    p {
        width: 100%;
    }
}

.editing {
    display: flex;
    gap: 10px;
    align-items: center;
}

.editing_list {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.dropdown_block {
    display: flex;
    gap: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;

    img {
        height: 20px;
    }
}

.dropdown_block:hover {
    transition: .2s;
    background-color: #e5e5e5;
}

.dropdown_block_text {
    color: gray;
    font-size: 15px;
}

.garbage, .addParagraph {
    background-color: var(--color-light);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.garbage:hover, .addParagraph:hover {
    transition: .2s;
    background-color: #d4d4d4;
}

.addParagraph {
    img {
        width: 25px;
    }
}

input {
    outline: none;
    border: 0;
}

.input_title {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

.input_text {
    width: 100%;
}

.input_list {
    width: 100%;
}